{{# each allmovies}}
<!DOCTYPE html>
<a class="btn btn-default" href="/movies">Back</a> 

<div class="container">
<body class="moviepagecolor">
		<div class="moviecover">
			<div class="col-md-8 col-sm-8">	
				
				<img class="moviecover" src="{{this.mcover}}" >				
			</div>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<div class="fixedproduct desktop-product">
				<h3>{{this.mname}}</h3>
				<h5>{{this.mgenre}}</h5>
				<h5>Directed by: {{this.mdirector}}</h5>
				<h6>Released: {{this.mdate}}</h6>


				<form method="post" action="/addtobag/{{this.product._id}}">
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<button type="submit" name="add-to-bag" value="add-to-bag" class="btn  btn-checkout">Blacklist This</button> 
				</form>
				</br>
			</div>
		</div>
</div>
</div>
{{/ each}}